
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  padding: 20px;
  background-color: #f8f8f8; 
}

.headerLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 20vw;
  justify-content: space-around;
}

.headerRight img {
  max-width: 100%;
  height: 60vh;
  border-top-left-radius: 50px; 
  border-bottom-left-radius: 50px;
}

h1 {
  font-size: 36px;
  color: #333;
}

.highlight {
  color: #fbb034; 
  font-family: kaushan script;
  font-weight: bold;
}

p {
  font-size: 16px;
  color: #666;
}

.stars {
  margin-top: 10px;
  font-size: 20px;
  color: #ffcc00;
}

.buyButton {
  margin-top: 15px;
  width: 150px;
  height: 30px;
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  border: 2px solid #fbb034;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
}


.productContainer {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.productCard {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  transition: transform 0.2s;
}

.productCard:hover {
  transform: scale(1.05);
}

.productImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.ProductHeading {
  display: flex;
  justify-content: space-around;
}

.productType {
  color: #E7D37F;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
  font-family: 'Kaushan Script', cursive;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating span {
  margin-right: 5px;
  font-weight: bold;
}

.starIcon {
  width: 20px;
  height: 20px;
}

.description {
  font-size: 14px;
  color: #777;
  margin: 10px 0;
}

.addToCartButton {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #E7D37F;
  color: black;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  height: 30px;
  margin: 0px 50px;
  border-radius: 20px;
}

.addToCartButton:hover {
  background-color: #E7D37F;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {

  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  max-width: 500px;
  padding: 20px;
}

.card img {
  width:30vw ;
  height: 80vh;
 border-radius: 10px;
 
}

.card h3 {
  color: #ffcc00;
  font-size: 1.5rem;
  margin: 10px 0;
}

.card h3 span {
  color: #666;
  font-size: 1rem;
}

.card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

button {
  border:2px solid #ffcc00;
  color: #000;
  width: 150px;
  height: 30px;
  margin-left: 10vw;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e6b800;
}






.banner {
  width: 100%;
  position: relative;
  height: 50vh;
  margin-bottom: 20px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bannerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 5vw;
}

.bannerContentLeft {
  color: white;
  text-align: left;
  z-index: 2; 
}

.bannerContentLeft h4 {
  font-size: 36px;
  font-weight: 500;
  color: white;
  font-family: 'Arial', sans-serif;
  margin-bottom: 5px;
}

.bannerContentLeft h1 {
  font-size: 48px;
  font-family: kaushan script;
  color: #ffcc00;
  font-weight: 700;
  margin-bottom: 10px;
}

.bannerContentLeft p {
  font-size: 16px;
  color: white;
  line-height: 1.5;
}

.bannerContentRight img {
  width: 300px;
  height: auto;
  z-index: 2;
  position: relative;
}

@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .headerLeft {
    width: 100%;
    padding: 0px 5vw;
    text-align: center;
  }

  .headerRight img {
    height: 40vh;
  }

  .productContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .productImage {
    width: 120px;
    height: 120px;
  }

  .bannerContent {
    flex-direction: column;
    text-align: center;
  }

  .bannerContentLeft {
    margin-bottom: 20px;
  }

  .bannerContentRight img {
    width: 250px;
    height: auto;
  }
}
 


@media (max-width: 768px) {
  .header {
    padding:10px;
    padding-top: 50px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 14px;
  }

  .stars {
    font-size: 18px;
  }

  .buyButton {
    width: 120px;
    height: 28px;
    font-size: 14px;
  }

  .productContainer {
    grid-template-columns: (1fr,1fr);
    gap: 15px;
  }

  .productImage {
    width: 100px;
    height: 100px;
  }

  .addToCartButton {
    width: 120px;
    height: 38px;
    margin: 0 auto;
    font-size: 14px;
  }
 
  .bannerContentLeft h4 {
    font-size: 24px;
  }

  .bannerContentLeft h1 {
    font-size: 36px;
  }

  .bannerContentLeft p {
    font-size: 14px;
  }

  .bannerContentRight img {
    width: 200px;
  }


}
@media (max-width: 480px) {
  .header {
    padding:10px;
    padding-top: 130px;
  }

  .bannerContentLeft h4 {
    font-size: 18px;
  }

  .bannerContentLeft h1 {
    font-size: 28px;
  }

  .bannerContentLeft p {
    font-size: 12px;
  }

  .bannerContentRight img {
    width: 150px;

  }
}
