.loginPage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #E0DEDE;
}

.loginPageLeft, .loginPageRight {
    flex: 1 1 50%;
    position: relative;
}

.loginPageLeftContent {
    margin: 20% 15%;
}

.loginPageLeftContent h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.socialLogin {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.googleBtn, .facebookBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    gap: 5px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
     background-color: #E0DEDE;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
}

.googleBtn:hover, .facebookBtn:hover {
    background-color: #e2b909;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 80%;
    margin-top: 10px;
    margin-left: 8%;
  
}
.loginForm label{
    color: #000;
    margin-left: -80%;
}



.loginForm input {
    padding: 10px;
    border: 1px solid #E7D37F;
    border-radius: 10px;
    width: 100%;
    color: #000000;
}

.loginBtn {
    background-color: white;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #e2b909;
    margin: 0 15%;
    margin-top: 40px;
    width: 70%;
    padding: 5px;
   color: black;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.loginBtn:hover {
    background-color: #e2b909;
}

.loginOptions {
    text-align: center;
    margin-top: 10px;
}

.loginOptions a {
    text-decoration: none;
    color: black;
}

.loginOptions p {
    margin-top: 5px;
}

.loginPageRight {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
}

.rightImageContent {
    position: relative;
    text-align: right;
    width: 100%;
    height: 100%;
    padding: 0 0%;
}

.loginImage {
    width: 100%;
    border-top-left-radius: 30%;
    height: 100vh;
}

.overlayText {
    position: absolute;
    right: 10%;
    left: 10%;
    top: 50%;
    max-width: 80%;
    text-align: center;
    transform: translateY(-50%);
    color: white;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-word;
}

.overlayText h3 {
    font-size: 28px;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
}

.overlayText p {
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .loginPage {
        flex-direction: column;
    }
    .loginPageLeft, .loginPageRight {
        flex-basis: 100%;
    }

    .loginPageLeftContent {
        margin: 5% 10%;
    }

    .overlayText h3 {
        font-size: 24px;
    }

    .overlayText p {
        font-size: 14px;
    }

    .overlayText {
        padding: 15px;
    }
}

@media (max-width: 600px) {
    .loginPageLeftContent {
        margin: 5% 5%;
    }

    .overlayText {
        font-size: 14px;
        padding: 10px;
    }

    .loginImage {
        border-top-left-radius: 20px;
    }
}

@media (max-width: 480px) {
    .loginPage {
        padding-top: 120px;
    }
}
